html, html * {
    font-family: 'proxima_nova_ltsemibold', Georgia, sans-serif;
    font-size: 16px;
}

.input .item {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    text-align: left;
}


#contact{
    text-align: left;
}

@import "../element/line/line-horizontal.css" (screen and min-width: 768px);

@media screen and (min-width: 768px) {



    #contact{
        text-align: justify;
    }

    .input .item {
        margin-left: 8px;
        margin-right: 15px;
        width: 120px;
    }

    /*1.header-banner*/
    #header-banner .logo{
        position: absolute;
        left: 220px
    }
    #header-banner .menu {
        position: absolute;
        top: 10px;
        right: 220px;
        color: white;
    }
    #header-banner .heading h1{
        font-size: 40px;
        font-weight: 600;
    }

    /*3.customer*/
    #customer {
        padding: 0px 0;
    }

    /*4.tour*/
    #tour .cover .left {
        float: left;
        width: 40%;
    }
    #tour .cover .right {
        float: left;
        width: 60%;
    }
    /*5. benefit*/
    #benefit .row .left {
        padding-right: 36px;
    }
    #benefit .row .right {
        vertical-align: middle;
    }
    #benefit .row .right h2, .button{
        text-align: left;
    }

    /*6.procedure*/
    .xcot-five{
        width: 230px;
        float:left;
    }
    #procedure {

    }
    #procedure .line-vertical {
        display: none;
    }
    #procedure .group-procedure {
        position: relative;
    }
    #procedure .group-procedure .row:nth-child(2){
        position: absolute;
        top: 80px;
        left: 130px;
    }
    #procedure .group-procedure .row:nth-child(2) .xcot-five{
        padding: 0 70px;
    }
    #procedure .line-horizontal {
        border: 1px solid white;
    }

    /*8.contact*/
    #contact {
        padding: 0;
        margin: 0;
    }
    #contact .wrap .contact {
        height: 460px;
    }
    #contact .wrap .contact h2 {
        text-align: left;
        margin-top: 55px;

    }
    #contact .wrap .contact p {

    }

    /*9.footer*/
    #footer {
        width: 100%;
    }
    #footer p {
        text-align: left;
    }
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../resource/google.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.clear-fix{
    clear: both;
}

.margin15{
    clear: both;
    margin: 30px 0;
}


#cappcha{
    width: 305px;
    margin: auto;
}

.mapvn{
    background: #fff;
}