*{
	box-sizing: border-box;
}

html{
	width: 99%;
	height: 99%;
}

body{
	width: 100%;
	height: 100%
}

#container{
	width: 100%;
	height: 100%;
}

#signup-Box{
	width: 400px;
	height: 700px;
	position: relative;
	top:30px;
	margin: auto;
	background-color: #27ae60;
	box-shadow: 0px 22px 30px 0px rgba(50, 50, 50, 0.69);
}

#signup-Box > p{
	margin:0;
	width: 100%;
	display: inline-block;
	height: 13%;
	color: white;
	font-family: 'Bad Script', cursive;
	text-align: center;
	font-size: 43px;
	position: relative;
	top:10px;
}

#signup-Box > form{
	margin: 0 15%;
	width: 70%;
	height: 87%;
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 17px;
	position: relative;
	top:-25px;
}

input{
	width: 100%;
	height: 35px;
	margin: 2px auto 7px auto;
	padding-left: 5px;
	border-style: none;
	font-family: 'Oswald', sans-serif;
	font-weight: bolder;
	font-size: 20px;
	color: black;
	outline: none;
}

select{
	width: 100%;
	height: 33px;
	margin: 2px auto 7px auto;
	border-style: none;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: black;
	outline: none;
	font-weight: bold;
}

input#sub{
	position: relative;
	left: 84px;
	top:5px;
	width: 40%;
	background-color: #1a7440;
	color: black;
}

input#sub:hover{
	background-color: #0c5f2f;
	box-shadow:  -2px 4px 16px 0px rgba(50, 50, 50, 0.75);
}

form span{
	color:black;
	font-weight: lighter
	font-size: 15px;
}