#header-banner {
    height: 450px;
}
#header-banner .heading {
    margin-top: 35px;
    margin-bottom: 100px;
}

.container_huyhieu .huyhieu {
    position: absolute;
    right: 0;
    bottom: -260px;
    z-index: 3;
}

.container_huyhieu .huyhieu img{
    width: 140px;
}

#content_customer{
    padding-top: 40px;
}
#hightlight h2{
    font-size: 35px;
    font-weight: 900;
    color: white;
    line-height: 1.3;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
}

#hightlight .box-image img{
    width: 100%;
    height: 300px;
}

#hightlight .bottom_hr{
    border-bottom: 4px solid white;
    width: 160px;
    margin: auto;

}

.text strong{
    color: white;
    font-weight: 900;       
}
#hightlight p{
    margin-top: 15px;
    text-align: center;
	color: white;
}

#hightlight .box-icon{
    margin-top: 15px;
    text-align: center;
}

#hightlight .text{
    margin-top: 15px;
}

#hightlight .text p{
    text-align: left;
    color: white;
}
#private{
    background: url(../../../img/page2/4.private/100_private_tailormade.png);
    padding: 60px 0;
}
#private h2{
    font-size: 44px;
    text-transform: uppercase;
    color: #333;
    line-height: 1.2;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
}

#map_vietnam{
    padding-top: 15px;
    background-color: #333333;
    color: #fff;
}

#map_vietnam .input .item{
    width: 100%;
}

#map_vietnam .checkbox_map{
    margin-top: 65px;
}
#map_vietnam .map_footer{
    margin-top: 130px;
}

#map_vietnam .input  .item input[type="checkbox"] + label:before{
    border: 3px solid #fab325;
    width: 25px;
    height: 25px;
}
#map_vietnam .input  .item{
    margin: 2px 0;
}
#map_vietnam h1{
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
    font-weight: 800;
    padding-bottom: 10px;
}

#map_vietnam h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    margin-top: -15px;
    color: #fab325;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
}

#map_vietnam .button button{
    font-size: 18px;
    color: #333;
    padding: 15px 25px;
    background: #fab325;
    font-weight: 600;
    border: none;
    margin-top: 30px;
    margin-bottom: 15px;
}

#map_vietnam label{
    color: #fff;
}


#map_vietnam .mapvn img{
    width: 100%;
}

#tour_include{
    background-color: #a91717;
    text-align: center;
}

#tour_include h2{
    color: white;
    font-size: 32px;
    border-bottom: 3px solid white;
    width: 350px;
    margin: auto;
    margin-bottom: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 15px;
    font-weight: 600;
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
}

#tour_include p{
    margin-top: 15px;
	color: white;
}

#specialoffer{
    padding: 60px 0;
    padding-top: 90px;
    background: url(../../../img/page2/7.specialoffer/tour_escape_hot_time_to_vietna.png);

}

#specialoffer h2{
    background: #162344;
    width: 400px;
    margin: auto;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
}



#specialoffer p{
    color: #162344;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    margin: 30px 0;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
}

#other-tour h2{
    color: #333;
    font-size: 30px;
    border-bottom: 3px solid #333;
    width: 300px;
    margin: auto;
    padding-bottom: 15px;
    margin-bottom: 50px;
    margin-top: 30px;
    font-weight: 700;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
}

#other-tour img{
    width: 100%;
    height: 200px;
}

#other-tour p{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
    margin-bottom: 30px;
}

#contact{
    padding: 30px 0;
    background-color: #666666;
    padding-top: 15px;
}

#contact h2{
    font-size: 30px;
    text-align: left;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
    margin-bottom: 30px;
}

#contact p{
    color: #fab325;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 60px;
}

#contact h3{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 1.4;
}

#action_design{
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 4;
}

#action_design .action_design{
    margin: 0;
    margin: 1px 0;
    height: 57px;
}

#action_design .action_design .img{
    background: #fff;
    border-radius: 50%;
    height: 57px;
    padding-top: 3px;
    width: 60px;
    padding-left: 12px;
}
#action_design .action_design .img img{
    width: 30px;
}
#action_design .action_design .row{
    background: #545140;
    padding: 5px;
    border-radius: 35px 0 0 35px;
    margin-top: 11px;
    height: 66px;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    width: 80px;
    position: relative;
    margin-bottom: -10px;
}

#action_design .action_design .row:hover{
    width: 180px;
}

#menu-right {
    position: relative;
    top: -40px;
    right: -70px;
}

#menu-right p {
    color: #fff;
}

