#main-Container, header{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	display: grid;
	grid-template-columns:1fr;
	grid-auto-rows:100px;
	text-decoration: none;
}

#main-Container{
	background: linear-gradient(to right, #9772b7, #68ccd9);
	background: -webkit-linear-gradient(to right, #9772b7, #68ccd9);
	background: -o-linear-gradient(to right, #9772b7, #68ccd9);
	background: -moz-linear-gradient(to right, #9772b7, #68ccd9);
}

a{
	color: black;
}

a:hover{
	text-decoration: none;
	color: white;
	transition: all 0.5s;

}

nav{
	grid-area:1/1/2/2;
	display: grid;
	grid-template-columns:repeat(6,1fr);
	grid-template-rows:1fr 1fr 1fr;

}

nav div{
	display: grid;
	align-items: center;
	justify-items:center;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	background:rgba(133, 172, 224, 0.58);
}

nav div:nth-child(1){
	grid-area:1/1/3/2;
}

nav div:nth-child(2){
	grid-area:1/2/3/3;
}

nav div:nth-child(3){
	grid-area:1/3/3/5;
	grid-template-columns:repeat(5,1fr);
	grid-template-rows:repeat(5,1fr);
}

nav div:nth-child(3)>div{
	grid-area:3/3/4/4;
	background: none;
}

nav div:nth-child(3)>div>img{
	border-radius: 50%;
	border:3px solid #6e7359;
	box-shadow:  -3px 4px 10px 0px rgba(50, 50, 50, 0.36);
}

nav div:nth-child(4){
	grid-area:1/5/3/6;
}

nav div:nth-child(5){
	grid-area:1/6/3/7;
}

#myButton{
	display: none;
}

@media all and (max-width: 1200px){
	header{
		display: grid;
		grid-template-columns:1fr;
		grid-auto-rows:50px;
	}
	nav.navbar{
		display: grid;
		grid-template-columns:repeat(5,1fr);
		grid-template-rows:50px;
		margin:0;
	}

	nav div:nth-child(3){
		display: grid;
		grid-area:1/1/2/2;
		grid-template-columns:repeat(3,1fr);
		grid-template-rows:1fr;
	}

	nav div:nth-child(3)>div{
		grid-area:1/2/2/3;
		display: grid;
		grid-template-columns:1fr;
		grid-template-rows:1fr;
	}

	nav div:nth-child(1){
		grid-area:1/2/2/3;
	}

	nav div:nth-child(2){
		display: none;
	}

	nav div:nth-child(4){
		display: none;
	}

	nav div:nth-child(5){
		display: none;
	}
}


