*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
#main{
    width: 1150px;
    height: 100%;
}
#header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
#bar-options{
    width: 30%;
    height: 100%;
}
#camera{
    font-size: 60px;
    color: rgb(46, 46, 46);
}
#logo-name{
    font-size: 32px;
    padding-left: 28px;
}
#bar-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.options{
    font-size: 18px;
    font-weight: 100;
    color: rgb(55, 54, 54);
}
#center{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
}
.picture{
    width: 300px;
    height: 350px;
    border-radius: 8%;
    position: relative;
}
img{
    width: 300px;
    height: 350px;
    border-radius: 8%;
}
.picture:nth-child(2n+1){
    animation: up-down 3s ease-in-out alternate infinite;
    box-shadow: 0 20px 22px rgba(0,0,0,0.4);
    transition: transform 2s;
}
.picture:nth-child(2n){
    animation: up-down 4s ease-in-out alternate infinite;
    box-shadow: 0 20px 22px rgba(0,0,0,0.4);
    transition: transform 2s;
}
@keyframes up-down{
    from{
        transform: translateY(0);
        box-shadow: 0 10px 12px rgba(0,0,0,0.5);
    }
    to{
        box-shadow: 0 24px 26px rgba(0,0,0,0.4);
        transform: translateY(-15px);
    }
}
#footer{
    width: 100%;
    height: 150px;
    margin-top: 30px;
}
p{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 100;
}
i{
    color: rgb(53, 52, 52);
    padding: 0 10px;
    font-size: 32px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(67, 61, 61, 0.3);
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 8%;
    transition: .5s ease;
}
.picture:hover .overlay {
    height: 60%;
}
.title{
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: 700;
}
.text{
    text-align: justify;
    font-size: 16px;
    color: white;
    padding: 10px;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 7%;
    display: flex;
    align-content: flex-end center;
    margin: auto;
    font-size: 16px;
}
button:hover{
    background-color: rgb(86, 83, 83);
}
.picture:hover img{
    scale: 1.1;
    transition: 0.5s;
    filter: blur(1.5px);
}
a{
    text-decoration: none;
}