.header {
  background-color: rgb(19,25,33);
  display: flex;
  justify-content: space-between;
  padding: 5px 8px;
}
.icon, .deiver, .sign-in-top, .orders, .cart {
  padding: 8px 5px;
  color: white;
  text-align: center;
}
.icon, .sing-in-top {
  width: 120px;
}
.deliver, .orders, .cart {
  width: 75px;
}
.search {
  width: 700px;
  height: 35px;
}
.between-above-header {
  padding: 7px;
}
.icon {
  font-size: 36px;
  padding: 5px;
}
.cart {
  padding: 10px;
  font-size: 24px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-16 {
  font-size: 16px;
}
.icon:hover, .deiver:hover, .sign-in-top:hover, .orders:hover, .cart:hover {
  border: 1px solid white;
}
.top-article {
  margin: 30px 20px;
  border: 2px solid orange;
  color: black;
  background-color: orange;
  width: 200px;
  border-radius: 10px;
}
.back {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.back::before {
  content: '◀ ';
}
.link-back {
  text-decoration: none;
  color: black;
}
.main {
  display: flex;
  justify-content: space-between;
  margin: 40px 30px;
}
.img-link {
  height: 400px;
  width: 400px;
}
.img {
  width: 30%;
}
.name {
  font-size: 23px;
  font-weight: 500;
}
.content {
  margin-left: 30px;
  width: 45%;
}
.price {
  color: rgb(182,52,19);
  font-size: 28px;
}
.content-right {
  border: 1px solid rgb(229,229,229);
  padding: 10px 10px;
  border-radius: 10px;
  height: 100px;
  width: 15%;
}
.add-cart {
  background-color: rgb(255,216,20);
  border-radius: 30px;
  padding: 5px;
  text-align: center;
  margin-top: 12px;
}
.add-list {
  background-color: rgb(239,241,243);
  border: 1px solid rgb(196,199,203);
  border-radius: 4px;
  padding: 5px 10px;
  margin: 20px;
}
.footer {
  border-top: 1px solid rgb(229,229,229);
  border-bottom: 1px solid rgb(229,229,229);
  margin: 20px;
  padding: 30px 30px;
  text-align: center;
}
.sign-in-bot {
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(255,205,78);
  border: 1px solid rgb(233,170,14);
  padding: 5px 9%;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
}
.footer-bot {
  font-size: 14px;
}
.footer-bot-right {
  text-decoration: none;
  color: rgb(17,122,143);
}