@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Bentham', sans-serif;
}

html, body {
    height: 100%;
}

.logo {
    height: 150px;
    width: 150px;   
}

a {
    text-decoration: none;
    color: #C7B7B7;
}

h1 {
    margin: 50px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6;
    font-size: 30px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: beige;
}

.left-nav, .right-nav {
    padding: 0 50px;
}

.mid-nav {
    display: flex;
    gap: 30px;
}

.mid-nav a:hover, .right-nav a:hover {
    color: black;
}

.right-nav {
    display: flex;
    gap: 20px;
}

.gallery {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}

.gallery div {
    padding: 0 5px;
    text-align: center;
}

.gallery img {
    width: 100%;
}

.gallery a {
    color:black
}

.gallery img:hover {
    scale: 1.03;
    transition: 2s ease-in-out;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
}

.loading-spinner {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 6px solid #CFD0D1;
    border-top: 6px solid #1C87C9;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.foot {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: beige;
}

.right-foot {
    display: flex;
    gap: 10px;
    padding: 0 30px;
    font-size: 30px;
}

.right-foot a{
    color: black;
}

.left-foot, .right-foot {
    padding: 0 50px;
}