body{
    width: 1700px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#header_img{
    width: 100px;
    height: 50px;
}
#header_list{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
#header_right{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.text-decor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: greenyellow;
    border-radius: 100px;
    width: 200px;
}
#header_list a:nth-child(n){
    text-decoration: none;
}
#header_list a{
    border-bottom: 1px solid black;
    transition: transform 0.5s, background-color 0.5s, box-shadow 0.5s, color 0.5s;
}
#header_list a:hover{
    transform: translateY(-2px);
    box-shadow: 0px 6px 6px grey;
    background-color: rgb(167, 224, 244);
    color: #fff;
}
nav{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family:Courier;
    color: #fff;
    background-color: rgb(193, 207, 247);
}
article{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
}
#main_img img{
    position: relative;
    left: 60px;
    width: 500px;
    height: 500px;
    border-radius: 300px;
    animation: image_effect 3s;
    animation-iteration-count: infinite;
}
#main_img{
    z-index: 1;
}
#text-contents{
    position: relative;
    left: -170px;
    display: inline-block;
    border: 1px solid black;
    height: 800px;
    z-index: -1;
    width: 2000px;
    font-size: 40px;
    border-radius: 30px;
    box-shadow: 8px 8px 8px rgb(124, 125, 148);
}
#text-contents p{
    padding-left: 300px;
    padding-top: 50px;
    height: 800px;
    width: 800px;
}
@keyframes image_effect{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
        box-shadow: 10px 10px 10px rgb(124, 125, 148) ;
    }
    100%{
        transform: translateY(0px);
    }
}
footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgb(193, 207, 247);
}
footer img{
    height: 40px;
    width: 40px;
}