#container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-content: stretch;
}
#header{
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#nav-left{
    display: flex;
    flex-direction: row;
    width: 35vw;
}
#nav-left ul{
    display: flex;
    flex-direction: row;
    margin-left: -70px;
}
#nav-left li{
    list-style: none;
    margin-left: 10%;
}
#img-title{
    height: 70px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 20%;
    margin-top: 18%;
}
#nav-left a{
    text-decoration: none;
    color:black;
    font-weight: 1000;
}
#nav-left li:hover{
    background-color: darkgray;
    color:deepskyblue;
}
#nav-main ul{
    display: flex;
    margin-right: 200px;
}
#nav-main li{
    list-style: none;
    margin-left: 10%;
}
#nav-main li:hover{
    background-color: darkgrey;
}
#nav-main a{
    text-decoration: none;
    color:black;
    font-weight: 1000;
}
#nav-right{
    display: flex;
    justify-content: end;
}
#nav-right a{
 margin-left: 18px;
}
#title-text{
font-size: 50px;
font-weight: 1000;
text-align: left;
padding-top: 100px;
box-sizing: border-box;
}
#title-text::first-letter{
    color:red;
    font-size: 85px;
}
#title-text::selection{
    color:aquamarine;
    font-size: 65px;
}
/* body img */
#body-img{
    display: flex;
    margin-top: 3%;
}
#body-img-text{
    display: flex;
    flex-direction: column;
    width: 65%;
}
/* Body Right */
#body-right{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 7%;
}
#body-right-1{
    display: flex;
    flex-direction: column;
    margin-right: 0;
}
#body-right-img-1{
  background-image: url(https://cdn1.tuoitre.vn/zoom/600_315/2022/3/30/2773806336831722395966693497507189218713923n-16486085867221153974763-crop-1648609246149876586814.jpg);
  background-size: 100% 300px;
  background-repeat: no-repeat;
  width: 500px;
  height: 300px;
}
#body-right-text-1 li{
    margin-top: 2%;
    list-style: none;
    box-sizing: border-box;
}
#body-right-text-1 a:hover{
    color: black;
}
#body-right-text-1 a{
    text-decoration: none;
    color:chocolate;
}
.icon-in-text{
    padding-top: 2px;
}
#body-right::before{
    content: ' ';
    width: 1px;
    height: 1000px;
    background-color:black;
    position: absolute;
    left: 1300px;
    top:150px
}
#body-right-img-2{
    background-image: url(https://cdnmedia.webthethao.vn/uploads/2021-03-24/world-cup-2022.jpg);
    background-size: 100% 300px;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
}
/* Phần Cuối */
#footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color:cyan;
    width: 96%;
    box-sizing: border-box;
    height: 380px;
}
#footer-1{
    padding-left: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin-right: 30%;
}
#footer-1::after{
    content: ' ';
    width: 1px;
    height: 350px;
    background-color:gainsboro;
    position: absolute;
    left: 600px;
    top:0;
}
#footer-2{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width:400px;
    box-sizing: border-box;
}
#footer-img{
    width: 450px;
    height: 100px;
}