.box-benefit {
    padding: 10px 0;
}
.box-benefit .item {
    margin-top: 20px;
    margin-bottom: -20px;
}
.box-benefit .item .left {
    float: left;
    position: relative;
    top: 10px;
    height: 100%;
    vertical-align: middle;
}
.box-benefit .item .left .number {
    float: left;
    height: 30px;
    width: 30px;
    border: 4px solid #a91717;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
.box-benefit .item .text {

}
.box-benefit .item .text p {
    font-family: 'proxima_nova_ltthin', Georgia, sans-serif;
    font-weight: bold;
    padding-top: 5px;
}