*{
	box-sizing: border-box;
}

html{
	min-width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	position: relative;
}


#modal-Container{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns:repeat(6, 1fr);
	grid-auto-rows:200px;
	background: linear-gradient(#06d0bf, #35749f);
	background: -webkit-linear-gradient(#06d0bf, #35749f);
	background: -o-linear-gradient(#06d0bf, #35749f);
	background: -moz-linear-gradient(#06d0bf, #35749f);
}

.modal-Enter{
	display: grid;
	grid-area:2/3/3/5;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr 1fr 1fr;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.modal-Enter #title{
	display: grid;
	justify-content: center;
	align-content: center;
	grid-area:1/1/3/3;
	margin:0;
	font-size: 38px;
	color: white;
}

.modal-Enter #enter{
	grid-area:1/3/2/4;
	display: grid;
}

#enter:hover > input{
	border-color: rgba(202, 252, 243, 0.61);
	color: white;
	transition: all 0.7s;
}

.modal-Enter #leave{
	grid-area:2/3/3/4;
	display: grid;
}

#leave:hover > input{
	border-color:rgba(0, 0, 0, 0.86);
	color: rgba(0, 0, 0, 0.67);
	transition: all 0.7s;
}

.modal-Enter #credit{
	grid-area:3/1/4/4;
	border-top:0.5px solid rgba(69, 74, 54, 0.61);
	font-size: 18px;
}

.modal-Enter input{
	border: 2px solid rgba(69, 74, 54, 0.55);
	margin:10px;
	border-radius: 18px;
	font-size: 20px;
	outline: none;
	background-color: rgba(6, 208, 191, 0.08);
}

@media all and (max-width: 1250px){
	.modal-Enter #title{
		font-size: 30px;
	}

	.modal-Enter #credit{
		font-size: 15px;
	}
}

@media all and (max-width: 768px){
	.modal-Enter{
		grid-area:1/2/2/6;
	}

	.modal-Enter #title{
		font-size: 30px;
	}

	.modal-Enter #credit{
		font-size: 13px;
	}
}