/*chung*/
#introduction {
    background-color: #a91717;
    padding: 20px;
    z-index: 5;
    position: relative;
}

#introduction #snow-background{
    width: 100%;
    height: 30%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -5;
    opacity: 0.4;
}

/*text*/
#introduction .welcome {
    text-align: center;
    color: #FBFBFB;

}

#introduction .welcome h2 {
     font-family: 'proxima_nova_ltsemibold', Georgia, sans-serif;
    letter-spacing: 1px;
    color: white;
    font-size: 26px;
    margin-bottom: 35px;

}
#introduction .welcome p {
    font-size: 15px;
}
#introduction .welcome hr {
    display: inline-block;
    width: 230px;
    text-align: center;
    margin-top: 30px;
}
#introduction .group-introduction {
    text-align: center;
}
