#tour {
    position: relative;
    padding: 20px;
    z-index: 1;
}
#tour .heading {
    max-width: 700px;
    margin: 0 auto;
}
#tour .heading h2 {
    color: white;
    font-size: 28px;
}
#tour .heading .hr {
    display: block;
    width: 140px;
    margin: 20px auto;
    border: 1px solid black;
}
#tour .heading p {
    text-align: center;
    color: white;
}


/* -----------------background snow---------------------*/

.snow-container {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  pointer-events: none;
  background: linear-gradient(#a91717, #8b1313);
}

.snow-container .noelTree{
    width: 40%;
    height: 100%;
    margin:0;
    float: right;
}

.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
          animation: snow linear infinite;
}
.snow.foreground {
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
}
.snow.foreground.layered {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.snow.middleground {
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
}
.snow.middleground.layered {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.snow.background {
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
}
.snow.background.layered {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}