.tour_best_of_vietnam_cambodia{
    background: url(../../img/banner/cambodia.jpg)  no-repeat center !important;
    background-size: cover !important;
}

#map_vietnam label {
    font-size: 14px;
}

#map_vietnam .map_footer {
    margin-top: 0px; 
}

#map_vietnam .button button {

    position: absolute;
    right: 15px;
    bottom: 20px;
}
