<style>
	@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');
	#container{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		
	}

	#main{
		box-sizing: border-box;
		padding:0;
		margin: auto;
		width: 400px;
		height: 500px;
		border: 1.4px black solid;
		box-shadow: 0px 7px 30px 0px rgba(50, 50, 50, 0.56);
	}

	#show {
		box-sizing: border-box;
		padding-top:15px;
		padding-right: 5px;
		margin: 0;
		width: 100%;
		height: 10%;
		text-align: right;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 20px;
		font-weight: lighter;
	}

	#display {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 15%;
		text-align: right;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 50px;
		font-weight: 100;
	}

	.so {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		width: 25%;
		height: 15%;
		float: left;
		border-style: none;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 28px;
		background-color: #f9f3fc;
	}

	.doubleso{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		width: 50%;
		height: 15%;
		float: left;
		border-style: none;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 28px;
		background-color: #f9f3fc;
	}

	.chucnang{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		width: 25%;
		height: 15%;
		float: left;
		border-style: none;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 28px;
		background-color: #81e605;
	}

	#ac{
		background-color: #eb6d00;
	}

	#bang{
		background-color: #60c11a;
	}

	
	#num0{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		width: 50%;
		height: 15%;
		float: left;
		border-style: none;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 28px;
		background-color: #f9f3fc;
	}

	.so:hover{
		background-color: #dedede;
	}

</style>