header {
	font-family: 'Saira Condensed', sans-serif;
	font-size: 16px;
	height: 60px;
}

button{
	outline: none;
}

.navbar{
	margin:0;
	border-style: none;
}

header a.navbar-brand{
	padding:0;
}

.container-fluid{
	padding:0;
}

.navbar-nav>li>a{
	line-height: 30px;
}

div.navbar-header{
	height: 60px;
}

.navbar-brand{
	height: 100%;
}

.navbar-btn{
	margin:13px 10px 0 10px;
	border:1px solid white;
	background-color: #0f1c29;
	color: white;
	letter-spacing: 1px;
	border-radius: 15px;
	outline: 0;
}

.signup{
	background:linear-gradient(to right, rgba(30, 166, 184, 1),rgba(8, 180, 132, 1));
}

.navbar-btn:hover{
	border-color: #d5d7cb;
	background-color: #142533;
	color: #d5d7cb;
	transition: all 0.5s;
	outline: none;
}

.navbar-toggle{
	margin-top: 13px;
}

.navbar-default .navbar-nav>li>a{
	color: white;
}

.navbar-default .navbar-nav>li>a:visited {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #d5d7cb;
	transition: all 0.5s;
}

.navbar-default{
	background-color:#191c1f ;
}

.navbar-brand img:hover{
	opacity: 0.6;
	transition: all 0.5s;
}

nav.navbar{
	z-index: 6000 !important;
}

button.navbar-toggle{
	border-style: none;
}

/*span.icon-bar{
	margin-top: 7px;
	height: 1px;
	color: white;
}*/

.navbar-toggle .icon-bar{
	height: 1px;
	color: white;
}

.navbar-toggle .icon-bar+.icon-bar{
	margin-top: 6px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #191c1f;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}