div#shuffleImage {
	display: grid;
	grid-template-columns: repeat(15, 132px);
	grid-auto-rows: 132px;
	position: relative;
	height: 528px;
	overflow: hidden;
}

div#shuffleImage .myThumbnail{
	border-radius: 5px;
}

div#shuffleImage img{
	border-radius: 7px;
	padding:2.5px;
}

div#shuffleImage .place1{
	grid-area: 1/1/3/3;
}

div#shuffleImage .place2{
	grid-area: 3/1/4/2;
}

div#shuffleImage .place3{
	grid-area: 4/1/5/2;
}

div#shuffleImage .place4{
	grid-area: 1/3/2/4;
}

div#shuffleImage .place4{
	grid-area: 1/3/2/4;
}

div#shuffleImage .place5{
	grid-area: 2/3/3/4;
}

div#shuffleImage .place6{
	grid-area: 3/2/5/4;
}

div#shuffleImage .place7{
	grid-area: 1/4/2/5;
}

div#shuffleImage .place8{
	grid-area: 2/4/3/5;
}

div#shuffleImage .place9{
	grid-area: 3/4/4/5;
}

div#shuffleImage .place10{
	grid-area: 4/4/5/5;
}

div#shuffleImage .place11{
	grid-area: 1/5/4/8;
}

div#shuffleImage .place12{
	grid-area: 4/5/5/6;
}

div#shuffleImage .place13{
	grid-area: 4/6/5/7;
}

div#shuffleImage .place14{
	grid-area: 4/7/5/8;
}

div#shuffleImage .place15{
	grid-area: 1/8/2/9;
}

div#shuffleImage .place16{
	grid-area: 1/9/2/10;
}

div#shuffleImage .place17{
	grid-area: 2/8/4/10;
}

div#shuffleImage .place18{
	grid-area: 4/8/5/9;
}

div#shuffleImage .place19{
	grid-area: 4/9/5/10;
}

div#shuffleImage .place20{
	grid-area: 1/10/2/11;
}

div#shuffleImage .place21{
	grid-area: 2/10/3/11;
}

div#shuffleImage .place22{
	grid-area: 3/10/5/12;
}

div#shuffleImage .place23{
	grid-area: 1/11/3/13;
}

div#shuffleImage .place24{
	grid-area: 3/12/4/13;
}

div#shuffleImage .place25{
	grid-area: 4/12/5/13;
}

div#shuffleImage .place26{
	grid-area: 1/13/2/14;
}

div#shuffleImage .place27{
	grid-area: 1/14/2/15;
}

div#shuffleImage .place28{
	grid-area: 1/15/2/16;
}

div#shuffleImage .place29{
	grid-area: 2/13/5/16;
}

.fadeIn{
	animation-name: fadeInEff;
	animation-duration: 2.2s;
}

@keyframes fadeInEff{
	0%{opacity:0;}
	100%{opacity: 1;}
}

.fadeOut{
	animation-name: fadeOutEff;
	animation-duration: 2.2s;
}

@keyframes fadeOutEff{
	0%{opacity: 1;}
	100%{opacity: 0; display: none;}
}

#myCarousel{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(30, 166, 184, 0.4));
	z-index: 1000;
}

.carousel-inner{
	position: relative;
	width: 100%;
	height: 100%;
}

.carousel-inner .item{
	margin:0;
	width: 100%;
	height: 100%;
}

.carousel-caption{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	padding:80px 0 0 0;
}

.carousel-caption h3{
	font-family: 'Bungee Outline', cursive;
	font-size: 70px;
	color: white;
	width: 100%;
	letter-spacing: 4px;
}

.carousel-caption p{
	font-family: 'Saira Condensed', sans-serif;
	font-size: 25px;
}

#shuffleImage button.W2Gbutton{
	position: absolute;
	left: 50%;
    transform: translate(-50%, -50%);
	bottom:50px;
}

.W2Gbutton{
	font-family: 'Montserrat', sans-serif;
	background:linear-gradient(to right, rgba(30, 166, 184, 1), rgba(8, 180, 132, 1));
	color: white;
	font-size: 17px;
	letter-spacing: 1px;
	padding:7px 15px;
	border-radius: 17px;
	outline: none;
	border: 0.5px solid white;
	z-index: 5000 !important;
}

button.W2Gbutton:hover{
	box-shadow: 0px 2px 18px 0px rgba(250, 250, 250, 0.35);
	transition: all 0.5s;
}

.content{
	position: relative;
}

.content1{
	background-color:#f6f7f6;
	padding-bottom: 70px;
}

.content2{
	background-color:#e7eaeb;
	padding:0 0 50px 0;
	margin:0;
}

.content3{
	background-color:#f7f7f7;
}


.description {
	width: 100%;
	position: relative;
	text-align: center;
	margin:30px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.description p:nth-child(1){
	color: rgba(30, 166, 184, 1);
	letter-spacing: 10px;
	font-size: 15px;
}

.description p:nth-child(2){
	font-size: 40px;
	color: black;
	letter-spacing: 2px;
}


div.detailThumbnail{
	height: 110px;
	margin:10px 0 0 0;
	background-color: #f0efed;
	position: relative;
	display: flex;
}

div.detailThumbnail div.detailImg{
	display: inline-block;
	width: 110px;
	position: relative;
}

div.detailImg div.time{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	font-family: 'Montserrat', sans-serif;
	color: white;
	opacity: 0.9;
}

div.time p:nth-child(1){
	font-size: 40px;
	letter-spacing: 2px;
	padding-top: 15px;
	margin:0;

}

div.time p:nth-child(2){
	letter-spacing: 7px;
	font-size: 20px;
}

div.detailThumbnail > div.detailDes{
	display: inline-block;
	font-family: 'Nunito', sans-serif;
	height: 100%;
	padding: 25px 0 0 15px;
	overflow: hidden;
	position: relative;
}

div.detailDes p{
	display: block;
	margin: 0;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}

p.title{
	font-size: 15px;
	font-weight: 900;
}

div.detailThumbnail.right{
	margin-bottom: 10px;
	margin-top: 0;
}

p.create{
	position: absolute;
	bottom: 0;
	font-size: 12px;
	width: 100%;
}

span.category{
	position: relative;
	left: 280px;
}

div.benefit{
	width: 90%;
	margin: auto;
	position: relative;
}

div.benefitDetail{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(79, 201, 167, 0.1), rgba(79, 201, 167, 0.1), rgba(0, 0, 0, 1));
	padding: 200px 0 0 30px;
	white-space: wrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}

p.rank{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	display: block;
	width: 62px;
	padding:6px 10px;
	color: white;
	background-color:rgba(30, 166, 184, 1);
	letter-spacing: 1px;
}

p.benefitTitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: white;
	margin-bottom: 0;
}

p.benefitDes{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	color: white;
	margin-right: 20px;
	white-space: wrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}


@media all and (max-width: 1190px){
	div.benefitDetail{
		padding-top: 50px;
	}
}

@media all and (max-width: 768px){
	div.benefitDetail{
		padding-top: 210px;
	}
}