.btn-rectangle {
    display: inline-block;
    height: 36px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #353535;
    line-height: 40px;
    padding: 0 2em;
    background-color: #EFF500;
}
.button.inquiry{
    width: 180px;
    margin: auto;
    margin-top: 30px;
}