.btn-radius {
    font-family: 'proxima_nova_ltsemibold', Georgia, sans-serif;
    display: inline-block;
    height: 40px;
    font-size: 14px;
    color: #555;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 2em;
    border-radius: 16px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    letter-spacing: 2px;
}